

<h1>aboutページです</h1>

<div class="about-container">
  <div class="row">
    <div class="col-sm-2"><h2 class="about-main-title">左はじっこ</h2></div>
    <div class="col-sm-8"><h2 class="about-main-title">まんなか</h2></div>
    <div class="col-sm-2"><h2 class="about-main-title">右はじっこ</h2></div>
  </div>
</div>