// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//homes全体のcss
h1 {
  font-size: 80px;
  text-align: center;
  margin: 50px auto;
}

//aboutページのcss
.about-container {
  width: 100%;
}

.col-sm-2 {
  height: 500px;
  background-color: #FFCCE5;
}

.col-sm-8 {
  height: 500px;
  background-color: #CCE5FF;
}

.about-main-title {
  text-align: center;
  margin: 30px auto;
}

.sns-icon {
  width: 220px;
  display: flex;
  padding: 0 10px;
  margin: 0 auto;
}

.sns-icon-twitter {
  padding-right: 10px;
  color: #32CCFF;
}

.sns-icon-instagram {
  margin-right: 10px;
  color: #CB6500;
}

.sns-icon-facebook{
  color: #3265FF;
}