<!--ナビゲーションメニュー-->
<div class="navmenu">
  <!--ロゴ・タイトル-->
  <div class="navmenu__logo">
    <%= image_tag 'logo.jpg', class:"navmenu__logo--image" %>
    <p class="navmenu__logo--title">わたしのポケット</p>
  </div>

  <!--メニュー一覧-->
  <div class="navmenu__button">
    <i class="fas fa-home navmenu__button navmenu__button--icon"></i>
    <p class="navmenu__button navmenu__button--title">　　家具　　</p>
  </div>
  <div class="navmenu__button">
    <i class="fas fa-tshirt navmenu__button navmenu__button--icon"></i>
    <p class="navmenu__button navmenu__button--title">　　洋服　　</p>
  </div>
  <div class="navmenu__button">
    <i class="fas fa-paint-roller navmenu__button navmenu__button--icon"></i>
    <p class="navmenu__button navmenu__button--title">壁紙・床板</p>
  </div>
  <div class="navmenu__button">
    <i class="fas fa-hammer navmenu__button navmenu__button--icon"></i>
    <p class="navmenu__button navmenu__button--title">　レシピ　</p>
  </div>
  
  <!--SNSアイコン-->
  <div class="navmenu__sns">
    <i class="fab fa-instagram-square navmenu__sns navmenu__sns--icon"></i>
    <i class="fab fa-twitter-square navmenu__sns navmenu__sns--icon"></i>
    <i class="fab fa-facebook-square navmenu__sns navmenu__sns--icon"></i>
  </div>
</div>